# Auto detect text files and perform LF normalization
* text=auto eol=lf

*.lua  text eol=lf linguist-language=Lua
*.obj2 text eol=lf linguist-language=Lua
*.anm2 text eol=lf linguist-language=Lua
*.scn2 text eol=lf linguist-language=Lua
*.cam2 text eol=lf linguist-language=Lua
*.tra2 text eol=lf linguist-language=Lua
